<div class="site-loader"></div>

<header class="site-header">

  <div class="header-inner">

    <div class="container">

      <div class="row">

        <div class="header-table col-md-12">

          <div class="header-col brand">
            <a href="index.html">
              <img src="images/logo-kaizen.png" alt="Logo de Kaizen Expertise">
            </a>
          </div>

          <nav class="header-col main-nav">
            <a href="#" class="nav-toggle"></a>
            <ul class="nav">
              <li><a class="active" href="index.html">Accueil</a></li>
              <li><a href="kaizen_expertise.html">Kaizen Expertise</a></li>
              <li><a href="createur_entreprise.html">Créateur d'entreprise</a></li>
              <li><a href="tpe_pme.html">TPE / PME</a></li>
              <li><a href="profession_liberale.html">Professionnel libéral</a></li>
              <li><a href="services.html">Nos services</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

  </div>

</header>
