
<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="contact" class="section">

			<div class="section-row-container">

				<div class="section-row half-padding-bottom">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									Contact
									<small>Vous avez des questions, des remarques, des suggestions ? Vous souhaitez nous rencontrer ? <br>N'hésitez pas à utiliser tous les moyens disponibles ! Nous vous recontacterons dans les 48 heures. </small>
								</h1>

							</div>

						</div>

						<div class="row">

							<div class="col-md-8">

								<form method="post" class="form-horizontal contact-form" action="php/contact/contact.php">

									<!-- Honeypot SPAM Protection -->
									<input type="text" name="cf[honeypot]" style="display: none">
									<!-- END Honeypot SPAM Protection -->

									<div class="form-group">
										<div class="col-md-7">
											<input type="text" name="cf[name]" class="form-control required" placeholder="Nom">
										</div>
										<div class="col-md-7">
											<input type="email" name="cf[email]" class="form-control required email" placeholder="E-mail">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-7">
											<input type="url" name="cf[url]" class="form-control url" placeholder="URL">
										</div>
										<div class="col-md-7">
											<input type="text" name="cf[subject]" class="form-control required" placeholder="Sujet">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<textarea name="cf[message]" rows="6" class="form-control required" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<input type="submit" value="Envoyer" class="btn btn-sm btn-block btn-primary">
										</div>
									</div>
								</form>

							</div>

							<div class="col-md-4">

								<aside class="sidebar">

									<div class="sidebar-block">
										<p class="contacts">
											<span class="contacts12">Adresse</span>
										</p>

										<p class="contacts123">
											6, rue Meissonier<br>
											75017 Paris<br>
										</p>
									</div>

									<div class="sidebar-block">
										<p class="contacts11">
											<span class="contacts12">E-mail</span>
										</p>

										<p class="contacts1">
											<a href="mailto:contact@kaizenexpertise.fr">contact@kaizenexpertise.fr</a>
										</p>

										<p class="contacts11">
											<span class="contacts12">Tel</span>
										</p>

										<p class="contacts1">
											06.73.59.77.79<br>Du lundi au vendredi de 9h à 19h
										</p>
									</div>

								</aside>

							</div>

						</div>

					</div>

				</div>

				<div class="section-row no-padding-top">

				</div>

			</div>

		</section>

		<br><br>
		<br><br>
		<br><br>

	</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55692476-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.setup.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.scripts.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.plugins.js"></script>

<script type="text/javascript" src="assets/plugins/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="assets/plugins/mfp/jquery.mfp-0.9.9.min.js"></script>
<script type="text/javascript" src="assets/plugins/mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap3.min.js"></script>
<script type="text/javascript" src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/plugins/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.form.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.validate.min.js"></script>
