<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="pricing" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									Créateur d'Entreprise
								</h1>

							</div>

						</div>

						<div class="row">

							<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Avoir un projet</h4>
												<p>C’est mieux ! Avant de vouloir créer votre entreprise encore faut-il avoir une idée. Idéalement cette idée doit avoir été préalablement testée auprès du marché (<em>BtoB</em>, <em>BtoC</em>) pour vous assurer que vous trouverez bien des clients. Vous pouvez selon votre situation mettre en œuvre des techniques de <em>lean start-up</em>, <em>lending page</em>, etc... Les équipes de Kaizen Expertise, toutes passionnées par les entrepreneurs vous accompagnent dans votre réflexion et sur la validation économique et financière du projet.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Le Business Plan</h4>
												<p>Il s’agit du « fameux » document comportant plein d’informations très importantes (on vous le promet). Il permet à des tiers (notamment aux membres de votre famille) de comprendre votre « business model » - et de les rassurer. Pour faire simple, il précise comment vous allez gagner de l’argent et l’utiliser. Vous pouvez vous interroger sur l’intérêt d’un tel document dans la mesure où vous ne respecterez jamais vos prévisions financières (c’est vérifié dans 100 % des cas : soit vous ferez beaucoup mieux, soit vous allez rencontrer quelques difficultés passagères). La réponse vient de vos amis (et des nôtres) banquiers et investisseurs : sur la base de ce document, ils décideront de vous accorder ou non leur confiance, et donc les financements nécessaires au démarrage de votre activité. Les équipes de Kaizen Expertise vous permettront d’obtenir le document le plus performant et le plus adapté à votre projet de création d’entreprise.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Le statut juridique</h4>
												<p>SARL ou SAS ? EURL ou SASU ? EIRL ou EI ? SA ou SCA ? Bon, vous savez probablement qu’une SARL est une société à responsabilité limitée. Mais concrètement ? Quels sont les avantages et inconvénients de cette structure pour votre projet ? On vous a dit : "vous créez une start-up, mettez-vous en SAS !" Mais vous a-t-on parlé des problématiques de représentation légale de la société ou de l’impact sur le statut social du président de la forme juridique ? La mission de Kaizen Expertise est de vous faire comprendre toutes les subtilités du droit des sociétés applicables à votre projet et de vous aider à faire le bon choix.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Régime social</h4>
												<p>Salarié ou TNS ? RSI, CIPAV ? Cotisations forfaitaires ? Quel est le régime de protection optimal ? Qu’entend-on par « cotisations Madelin » ? Bref, si vous pouvez répondre à toutes ces questions et déterminer le statut adéquat dans votre cas, envoyez-nous un mail à recrutement@kaizenconseil.fr. Pour les autres, les équipes de Kaizen Expertise vous présenteront ces différents concepts et détermineront quel est le statut optimal pour votre projet.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Régime fiscal</h4>
												<p>Impôt sur le revenu (IR) ou Impôt sur les sociétés (IS) ? BIC ou BNC ? Rémunération du dirigeant déductible ou non déductible ? Nécessité de distribuer des dividendes ou de capitaliser ? Kaizen Expertise répondra à toutes vos interrogations afin d’optimiser la fiscalité de votre entreprise.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Formalités juridiques et administratives</h4>
												<p>Vous avez maintenant une idée, un business plan, vous avez opté sur nos conseils pour une SARL à l’IS et un statut de gérant majoritaire pour votre projet. Que vous faut-il donc encore faire ? Rien.  Kaizen Expertise vous offre une solution « clés en main » ou plutôt « k-bis en main » en s’occupant de l’ensemble des formalités juridiques et administratives nécessaires à l’immatriculation de votre entreprise.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
												<i class="gi gi-lightbulb"></i>
											</div>
											<div class="info">
												<h4>Et après ?</h4>
												<p>Chez Kaizen Expertise,nous avons la conviction que tout se joue dans les premiers mois d’activité. C’est pourquoi nous vous proposons un accompagnement sur-mesure pendant cette période cruciale afin de mettre en place votre organisation comptable, financière et administrative. Une fois cette phase passée, nos équipes interviendront pour vous accompagner dans la gestion quotidienne de votre activité en tant que <a title="Aller sur la page TPE / PME" href="tpe_pme.html">TPE / PME</a> !</p>
											</div>
										</div>

									</div>

								</div>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55692476-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.setup.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.scripts.min.js"></script>
<script type="text/javascript" src="assets/js/hydrogen.plugins.js"></script>

<script type="text/javascript" src="assets/plugins/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="assets/plugins/mfp/jquery.mfp-0.9.9.min.js"></script>
<script type="text/javascript" src="assets/plugins/mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap3.min.js"></script>
<script type="text/javascript" src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/plugins/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.form.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.validate.min.js"></script>
