<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="about" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-3">

								<h1 class="section-title">
									Kaizen Expertise
								</h1>

							</div>

							<div class="col-lg-8 col-lg-push-1">

								<div class="row">

									<div class="col-md-12">

										<p class="lead">
											Kaizen Expertise est une société d’expertise comptable membre de l’Ordre des Experts-Comptables, région Paris Ile-de-France.
											<br><br>

											Notre volonté est de vous accompagner au quotidien dans le développement de votre projet. L’équipe de Kaizen Expertise est composée de collaborateurs, tous passionnés par l’entrepreneuriat.
											<br><br>

											Nous avons la conviction que vous devez disposer de services de qualité répondant à vos besoins, notamment sur la gestion financière et le pilotage de votre activité quasiment en temps réel et non pas seulement intervenir lors de l’établissement de votre bilan. C’est pourquoi nous vous proposons de nombreux services afin de vous conseiller et de vous accompagner au mieux dans la réussite de votre entreprise.
										</p>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section id="services" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									Le Fondateur
								</h1>

								<div class="icone-smo">
									<a class="icone-smo2" href="https://www.linkedin.com/in/jonathancohenkaizenconseil" target="_blank">LinkedIn</a>
									<a class="icone-smo1 icone-smo2" href="http://www.viadeo.com/fr/profile/jonathan.cohen24" target="_blank">Viadeo</a>
								</div>

								<p class="icone-smo1">
									Jonathan Cohen
								</p>

							</div>

						</div>

						<div class="row">

							<div class="col-lg-12">

									<div class="team-data" data-name="John Hammond" data-role="CEO, Creative Director" data-photo="images/1.jpg">
										<p class="lead1"><i class="fa fa-quote-left guillemet"></i> Au cours de mes expériences professionnelles tant en cabinets d’audit et de conseil qu’au sein de directions financières de sociétés, j’ai développé un intérêt tout particulier pour l’entrepreneuriat. J’ai accompagné de nombreux entrepreneurs à surmonter les nombreux freins auxquels ils sont confrontés dans la réalisation de leurs projets. Cette expéreience m'a donné envie de construire une offre de services intégrée qui leur permette de se concentrer sur le coeur de métier. <br>
										Kaizen Expertise, membre du groupe Kaizen Conseil, offre à l’entrepreneur, qu’il soit créateur d’entreprise, dirigeant de TPE/PME ou professionnel libéral, un accompagnement quotidien sur tous les sujets liés à la gestion comptable, financière et juridique de son activité.</p>
										<p class="lead1">Cette offre est possible grâce à des équipes compétentes et qualifiées, qui partagent les valeurs du groupe Kaizen Conseil à savoir la confiance, le respect, la rigueur et la curiosité mais plus encore la passion d’être le partenaire de la réussite des entrepreneurs. <!--<span class="guillemet">»</span>--><i class="fa fa-quote-right guillemet"></i></p>
									</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>
