
<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="pricing" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									Mentions légales
								</h1>

							</div>

						</div>

						<div class="row">

							<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Informations juridiques</h4>
												<p>Kai Expertise<br>
												6, rue Meissonier 75017 Paris<br>
												SARL au capital de 1 000 euros<br>
												RCS de Paris N° 804 958 106<br>
												Gérant : Jonathan Cohen<br>
												Numéro de TVA intracommunautaire : FR76804958106<br>
												Code APE : 6920Z<br>
												</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Assurance responsabilité civile professionnelle</h4>
												<p>Souscrite auprès du courtier Verspieren. Contrat groupe N° 118269730.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Propriété intellectuelle</h4>
												<p>Les logos, marques, notamment Kaizen Expertise et Kaizen Conseil, textes et illustrations sont protégés par les lois de copyright et de propriété intellectuelle. Toute reproduction, exploitation, traduction, modification, sous toute forme ou par quelque moyen que ce soit, est formellement interdite, sauf autorisation préalable et écrite de la part des auteurs et responsables de ce site. Toute infraction à ces dispositions est constitutive du délit de contrefaçon.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Responsable de la publication</h4>
												<p>Monsieur Jonathan Cohen.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Hébergeur du site</h4>
												<p>
												Le site internet est hébergé par la société OVH (www.ovh.com) dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France. </p>
											</div>
										</div>

									</div>

								</div>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>
