<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="services" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									Nos services
								</h1>

							</div>

						</div>

						<div class="row">

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-pie-chart" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Gestion administrative</h4>
										<p class="service-description">
											Organisation administrative et comptable<br/>
											Mise en place de procédures internes<br/>
											Manuel des procédures
										</p>
									</div>

								</div>

							</div>

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-charts" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Gestion comptable</h4>
										<p class="service-description">
											Bilan comptable<br/>
											Situation intermédiaire<br/>
											Tenue de comptabilité<br/>
											Externalisation de la fonction comptable<br/>
											Formation du personnel comptable
										</p>
									</div>

								</div>

							</div>

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-stats" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Gestion financière</h4>
										<p class="service-description">
											Tableau de bord<br/>
											Budget prévisionnel<br/>
											Optimisation du BFR<br/>
											Gestion de la trésorerie<br/>
											Reporting
										</p>
									</div>

								</div>

							</div>

						</div>

						<div class="spacer-20 hidden-xs hidden-sm"></div>

						<div class="row">

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-coins" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Conseil fiscal et gestion des obligations fiscales</h4>
										<p class="service-description">
											Liasse fiscale<br/>
											Déclaration de TVA<br/>
											Déclaration d’IS<br/>
											Déclarations fiscales diverses<br/>
											Conseil en optimisation fiscale<br/>
											Assistance en cas de contrôle fiscal

										</p>
									</div>

								</div>

							</div>

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-lightbulb" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Création d’entreprise</h4>
										<p class="service-description">
											Création de SARL, SAS, SCI, SA…<br/>
											Création SEL, SCM, SCP…<br/>
											Business Plan<br/>
											Aide au choix du statut fiscal et social<br/>
											Rédaction des statuts<br/>
											Formalités administratives (dépôt du formulaire M0, journal d’annonces légales…)
										</p>
									</div>

								</div>

							</div>

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-cloud-plus" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Contrôle interne & Système d’information</h4>
										<p class="service-description">
											Progiciel comptable<br/>
											Intégration des logiciels métiers dans le système d’informations financières<br/>
											Audit des systèmes d’information
										</p>
									</div>

								</div>

							</div>

						</div>

						<div class="row">

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-parents" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Conseil social et gestion du social</h4>
										<p class="service-description">
											Bulletin de salaire<br/>
											Formalité d’embauche<br/>
											Contrat de travail<br/>
											Aide à l’embauche<br/>
											Licenciement<br/>
											Règlement intérieur<br/>
											Délégué du personnel, comité d’entreprise<br/>
											Assistance en cas de contrôle URSSAF
										</p>
									</div>

								</div>

							</div>

							<div class="col-md-4">

								<div class="service">

									<div class="service-icon">
										<i class="gi gi-bank" data-animation-name="bounceIn"></i>
									</div>
									<div class="service-info">
										<h4 class="service-name">Conseil juridique et formalités juridiques</h4>
										<p class="service-description">
											Approbation des comptes<br/>
											Assemblée générale ordinaire<br/>
											Cession de parts<br/>
											Cession de fonds de commerce<br/>
											Augmentation de capital<br/>
											Transformation de société<br/>
											Dissolution, liquidation
										</p>
									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>
