<div class="site-wrapper">

	<div class="site-body">

		<div class="section-row">
		</div>

		<section id="pricing" class="section">

			<div class="section-row-container">

				<div class="section-row">

					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<h1 class="section-title">
									TPE / PME
								</h1>

							</div>

						</div>

						<div class="row">

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Gestion Administrative</h4>
												<p>On le sait, en France, la gestion administrative d’une entreprise est très chronophage. Mais avec de bons outils et la mise en place de procédures internes, vous gagnerez en fiabilité. Kaizen Expertise accompagne les TPE/PME et forme le personnel administratif à la performance.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Contrôle interne & Système d’information</h4>
												<p>L’adéquation du système d’information et du contrôle interne avec votre projet est un des éléments clés de votre développement. Kaizen Expertise interviendra pour vous conseiller sur les choix de progiciels comptables et de CRM ainsi que sur l’intégration des logiciels métiers dans le processus de fabrication de l’information financière.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Gestion Comptable</h4>
												<p>Le fameux bilan ! Pour être plus rigoureux, parlons des comptes annuels. Kaizen Expertise, en tant que société membre de l’Ordre des Experts-Comptables vous accompagne naturellement dans la tenue de votre comptabilité jusqu’à l’établissement de votre bilan. Nous intervenons également dans l’établissement de situations intermédiaires. Nous offrons aussi à nos clients TPE/PME la possibilité d’externaliser la totalité de leur service comptable, et nous conseillons ou formons le personnel comptable.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Conseil fiscal et gestion des obligations fiscales</h4>
												<p>La liasse fiscale, prolongement des comptes annuels, permet à l’administration de disposer d’informations exploitables. En amont de son établissement, nous vous apportons tous les conseils fiscaux adéquats dans un souci d’optimisation. Bien évidemment, nous vous accompagnons dans la gestion de vos obligations fiscales : déclaration de TVA, IS… Enfin, nous intervenons rapidement en cas de contrôle fiscal lorsque l’administration fiscale vient prendre de vos nouvelles.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Conseil social et gestion du social</h4>
												<p>Comment recruter ? Quel contrat de travail mettre en place ? Pouvez-vous bénéficier d’aide à l’embauche ? Comment gérer ses déclarations d’embauche, les cotisations à payer, les différentes caisses sociales ? Les équipes de Kaizen Expertise vous déchargent de ces problématiques. Nous vous conseillons et vous accompagnons dans la gestion de vos ressources humaines : établissement des bulletins de salaire, rédaction des contrats de travail, accompagnement en cas de procédure de licenciement, respect de vos obligations en tant qu’employeur ou encore mise en place d’un règlement intérieur, de délégués du personnel ou de comité d’entreprise. Enfin, lorsque vos amis des différentes caisses sociales comme l’URSSAF viennent vérifier le respect de la réglementation, nous sommes là pour vous accompagner.</p>
											</div>
										</div>

									</div>

									<div class="col-md-5">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Gestion Financière</h4>
												<p>Au-delà de la gestion comptable et administrative, nous avons la conviction chez Kaizen Expertise que la réussite d’un projet nécessite de disposer d’une information financière quasiment en temps réel. C’est pourquoi la mise en place de tableaux de bord, de reportings, d’un contrôle de gestion et un suivi du budget prévisionnel sont autant d’outils de pilotage indispensables au développement de l'activité. Ils permettent d’optimiser votre besoin en fonds de roulement (BFR) qui impacte directement votre trésorerie (concept relativement important paraît-il). Nous mettons ensemble tous ces outils en place pour intervenir au quotidien à vos cotés.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="row">

									<div class="col-md-6">

										<div class="icon-box" data-animation-name="fadeInUp">
											<div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="info">
												<h4>Conseil juridique et formalités juridiques</h4>
												<p>Nous mettons en place un véritable secrétariat juridique pour vous décharger de la gestion de vos assemblées, notamment lors de l’approbation des comptes. Notre équipe de juristes vous conseille au quotidien dans vos opérations juridiques, assistée le cas échéant de nos partenaires avocats. Ainsi, assemblée générale extraordinaire, cession de parts, cession de fonds de commerce, augmentation de capital, transformation, dissolution, liquidation de sociétés, dépôts de marques ou brevets à l’INPI sont réalisés en toute quiétude.</p>
											</div>
										</div>

									</div>

								</div>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</div>
